<div class="row"> 
    <div class="col-sm-11">
        <div class="box box-solid">
            <div class="box-body">
                <h4> 
                    <span class="glyphicon glyphicon-list-alt"></span> برای داشتن فروشگاه اینترنتی کامل نیاز دارید این مراحل را انجام دهید.
                    <small> <a href="javascript:void(0)">برای دریافت فایل راهنمای کامل سامانه اینجا کلیک نمایید. </a></small> 
                </h4> <hr>
                <div class="alert alert-info">
                    <a routerLink="/category" class="no-decoration">
                        <h5 class="no-decoration">
                            <strong>
                                <span class="glyphicon glyphicon-unchecked"></span>
                                <span>۱- ایجاد اولین دسته‌بندی </span>
                            </strong>
                        </h5>
                    </a>
                    <hr>
                    <p>
                    <span class="glyphicon glyphicon-info-sign"></span>
                    برای کمک به مشتری در پیدا کردن سریع محصول مورد نظر خود نیاز به ایجاد دسته بندی کالاهای خود دارید.
                    در یک فروشگاه اینترنتی به طور معمول از ۵ الی ۳۰ ۴۰ دسته بندی به صورت زیرمجموعه ای استفاده می‌شود.
                    </p>
                    <br>
                    <a href="javascript:void(0)" class="no-decoration">
                        <span class="glyphicon glyphicon-book"></span>
                        دسته بندی‌های آماده مبتنی بر نوع کسب و کار شما
                        <span class="glyphicon glyphicon-circle-arrow-left"></span> 
                    </a>
                </div>
                <div class="alert alert-info">
                    <a routerLink="/brand/new" class="no-decoration">
                        <h5 class="no-decoration">
                            <strong>
                                <span class="glyphicon glyphicon-unchecked"></span>
                                <span>۲- ایجاد اولین برند </span>
                            </strong>
                        </h5>
                    </a>
                    <hr>
                    <!-- <p>
                    <span class="glyphicon glyphicon-info-sign"></span>
                    برای کمک به مشتری در پیدا کردن سریع محصول مورد نظر خود نیاز به ایجاد دسته بندی کالاهای خود دارید.
                    در یک فروشگاه اینترنتی به طور معمول از ۲ الی ۳۰ ۴۰ دسته بندی به صورت زیرمجموعه ای استفاده می‌شود. برای مجزا کردن کالاهای خود از برند و فیلترهای انتخاب که بر اساس ویژگی‌ کالاهای شما مشخص می‌شوند استفاده نمایید.
                    </p>
                    <br> -->
                    <a href="javascript:void(0)" class="no-decoration">
                        <span class="glyphicon glyphicon-book"></span>
                        تعدادی از برند‌‌های معروف برای افزودن به فروشگاه خود
                        <span class="glyphicon glyphicon-circle-arrow-left"></span> 
                    </a>
                </div>
                <div class="alert alert-info">
                    <a routerLink="/product/new" class="no-decoration">
                        <h5 class="no-decoration">
                            <strong>
                                <span class="glyphicon glyphicon-unchecked"></span>
                                <span>۳- ایجاد اولین کالا </span>
                            </strong>
                        </h5>
                    </a>
                    <hr>
                    <a href="javascript:void(0)" class="no-decoration">
                        <span class="glyphicon glyphicon-book"></span>
                        تعدادی کالا بصورت پیش‌فرض مرتبط با کسب و کار شما
                        <span class="glyphicon glyphicon-circle-arrow-left"></span> 
                    </a>
                </div>
                <div class="alert alert-info">
                    <strong>
                        <a class="no-decoration" routerLink="/sett">
                            <span class="glyphicon glyphicon-unchecked"></span>
                            <span>۴- درگاه بانکی فروشگاه خود را مشخص کنید</span>
                        </a>
                    </strong>
                </div>    
            </div>    
        </div>    
    </div>
</div>
